set bell-style none
set history-preserve-point on
set convert-meta off
set input-meta on
set output-meta on
set colored-stats on
set completion-ignore-case on
set completion-map-case on
set completion-query-items 300
set mark-directories on
set mark-symlinked-directories on
set show-all-if-ambiguous on
set skip-completed-text on
set visible-stats on

"\033OP": "git showcon\n"
"\033OQ": "git diff\n"
"\033OR": "git cont\n"
"\033OS": "git orig\n"

$if GDB
"\033OP": "tui disable\n"
"\033OQ": "layout src\n"
"\033OR":
"\033OS":
"\033[15~":
"\033[17~":
"\033[18~":
"\033[19~":
"\033[20~":
"\033[21~":
"\033[23~":
"\033[24~":
$endif